  <header>
    <h3>Unicode Security Guide</h3>
    <p class="zero view">1) <a href="{{ site.url }}">Home Page</a></p>
      <p class="zero">2) <a href="{{ site.url }}/background">Background</a></p>
      <p class="zero">3) <a href="{{ site.url }}/visual-spoofing">Visual Spoofing</a></p>
      <p class="zero">4) <a href="{{ site.url }}/character-transformations">Character
        Transformation</a></p>
      <p></p>
      <p class="view">
      <a href="https://github.com/websec/unicode-security-guide">View the Project on GitHub <small>websec/unicode-security-guide</small></a></p>
    <ul>
      <li><a href="https://github.com/websec/unicode-security-guide/zipball/master">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/websec/unicode-security-guide/tarball/master">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/websec/unicode-security-guide">View On <strong>GitHub</strong></a></li>
    </ul>
  </header>
